<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Email</title>
  ##data.STYLES##
</head>

<body>
  <div class="sq-email">
    ##data.HEADER##
    <div class="sq-email__header">
      <h1>Welcome to ##data.product.name##</h1>
    </div>
    <div class="sq-email__body">
      Hello ##data.fullName##,
      <br />
      <br />
      <br />
      Thanks for registering with us.
      <br />
      <br />
      <br />
      Enjoy the app!
      <br />
      <br />
      <br />
      Team
      <br />
      ##data.product.name##
    </div>
    ##data.FOOTER##
  </div>
</body>

</html>