<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="/favicon-32x32.png" />

    <title><%= siteMap.title %></title>
    <% if (mode !== 'development') { %>
    <link
      href="/static/css/main.<%= siteMap.appVersion %>.css"
      rel="stylesheet"
    />
    <% } %>

    <script src="/env/app-config?_cb=<%= siteMap.appVersion %>"></script>
  </head>

  <body>
    <div id="root" class="content"></div>

    <% if (mode !== 'development') { %>
    <script src="/static/js/main.<%= siteMap.appVersion %>.js"></script>
    <% } else { %>
    <script src="/static/js/main.js"></script>
    <script>
      window.APP_CONFIG.MODE = 'development';
    </script>
    <% }%>
  </body>
</html>
