@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: 'Inter-Regular';
  src: url("../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
  font-family: 'Inter-Light';
  src: url("../fonts/Inter/Inter-Light.ttf");
}
@font-face {
  font-family: 'Inter-Bold';
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
}